[user]
  name = Romain Goyet
  email = romain@goyet.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[log]
  abbrevCommit = true
[format]
  pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(white)<%an>%Creset
[commit]
  verbose = true
